#viz-tm {
    border: 1px solid black;
}

#viz-ex {
    border: 1px solid black;
}

#thread-num {
    width: 50px;
}

#cell-num {
    width: 50px;
}

.small-input {
    width: 75px;
}

.tapeCell {
    border: 1px solid black;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
